.button-orange {
    width: 206px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #EE7500;
    color: #fff;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;


}

.button-orange__perconatity {
    padding: 10px 20px;
    border-radius: 10px;
    background: #EE7500;
    color: #fff;
    border: none;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
