.MuiDataGrid-virtualScroller::-webkit-scrollbar {
    height: 0px;
    width: 5px;
}

/* Track */
.MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
    background: #2f2f2f;
    height: 300px;

}

/* Handle */
.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: ghostwhite;
}

